/* ------------ Animations ------------ */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-5px);
    }

    40%,
    80% {
        transform: translateX(5px);
    }
}

.row.shake {
    animation: shake .3s ease both;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0);
    }

    100% {
        transform: translateY(300px) rotate(360deg);
        opacity: 0;
    }
}